.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
.primary {
  background: blue;
}
.secondary {
  background: red;
}
.danger {
  background: yellow;
}
